body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  text-align: center;
}

p {
  color: grey;
}


/* navigation Bar */
.container-fluid {
  padding: 3% 15%;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Ubuntu;
}

#title {
  background-color: #bbbbbb;
}

/* Github and LinkedIn Buttons */
.education_class {
  padding-top: 5rem;
}

.my_custom_class {
  margin-top: 4rem;
  margin-right: 1rem;
  margin-bottom: 2rem
}

.profile-pic {
  width: 80%;
  transform: rotate(0deg);
  position: absolute;
}

/* Education Section */
.degree {
  font-size: 1.5rem;
  font-weight: 900;
}

#Education {
  padding: 7% 15%;
  position: relative;
  background-color: white;
  z-index: -1;
}

.my_education_class {
  padding: 5%;
}

.university_hover_class:hover {
  transform: scale(1.5);
}


/* Learning Section */
.carousel-item {
  padding: 7% 15%;
}

#coding-logos {
  padding: 0 0 3rem 0;
}

#learning {
  background-color: grey;
}

.skills {
  font-size: 2rem;
  line-height: 1.5;
}

/* Contact Me */
#contact {
  padding: 7% 15%;
}


/* Footer */
.copyright {
  color: #fff;
  font-size: 0.75rem;
  padding: 20px 0px;
}

#footer {
  background-color: grey;
  padding: 3% 7%;
  font-family: 'Montserrat';
  font-size: 2rem;
}

.social-media-icon {
  padding: 20px 10px;
}


/* Media Queries */
@media (max-width: 1028px) {

  .lowerpixel {
    text-align: center;
  }

  .profile-pic {
    width: 80%;
    transform: rotate(0deg);
    position: static; <!--This is the actual change-->
    text-align: center;
  }
}
