body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  text-align: center;
}

p {
  color: grey;
}

#title {
  text-align: left;
}


/* Sections */
.colored-section {
  background-color: grey;
  color: #000;
}

.white-section {
  background-color: #fff;
}


/* navigation Bar */
.container-fluid {
  padding: 3% 12%;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Ubuntu;
}


/* Github and LinkedIn Buttons */
.education_class {
  padding-top: 5rem;
}

.my_custom_class {
  margin-top: 4rem;
  margin-right: 1rem;
  margin-bottom: 2rem
}

.profile-pic {
  transform: rotate(0deg);
  position: absolute;
  text-align: center;
  width: 80%;
}

/* Education Section */
.degree {
  font-size: 1.5rem;
  font-weight: 900;
}

#Education {
  padding: 7% 15%;
  position: relative;
  z-index: -1;
}

.education_icon {
  color:#560d0d;
  padding-bottom: 2rem;
}

.education_icon:hover {
  transform: scale(1.5);
}

.my_education_class {
  padding: 5%;
}


/* Learning Section */
.carousel-item {
  padding: 7% 15%;
}

#coding-logos {
  padding: 0 0 3rem 0;
}

.skills {
  font-size: 2rem;
  line-height: 1.5;
}

/* Contact Me */
#contact {
  padding: 7% 15%;
}


/* Footer */
.copyright {
  color: #fff;
  font-size: 0.75rem;
  padding: 20px 0px;
}

#footer {
  padding: 3% 6%;
  font-family: 'Montserrat';
  font-size: 2rem;
}


/* Media Queries */
@media (max-width: 1028px) {
  h1.intro {
    text-align: center;
  }

  .profile-pic {
    position: static; <!--This is the actual change-->
    text-align: center;
    width: 80%;
  }

  #title {
    text-align: center;
  }
}
